.advan-hdr{
  @include font(36px, $mainFontColor, 400, $fontRegular);
  text-align: center;
}

.ad-btns{
  span{
    @include font(14px, $cheColor, 400, $fontRegular);
    text-align: center;
    text-transform: uppercase;
    display: block;
  }
  button{
    width: 381px;
    height: 162px;
    border: 1px solid #cccccc;
    background-color: $boxColor;
    margin-bottom: 15px;
    margin-right: 15px;
    &:hover{
      background-color: $redBtnColor;
      i{
        color: white;
      }
      span{
        color: $fontColorNone;
      }
    }
  }
}


//icons
.icon-ad-icon {
  background-image: url(../img/sprite.png);
  background-position: 0px -1602px;
  width: 22px;
  height: 34px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}
.icon-ad-icon2 {
  background-image: url(../img/sprite.png);
  background-position: -1076px -534px;
  width: 33px;
  height: 34px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}

.icon-ad-icon3 {
  background-image: url(../img/sprite.png);
  background-position: -1609px -540px;
  width: 24px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}

.icon-ad-icon4 {
  background-image: url(../img/sprite.png);
  background-position: -2133px 0px;
  width: 26px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}

.icon-ad-icon5 {
  background-image: url(../img/sprite.png);
  background-position: -533px -537px;
  width: 33px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}

.icon-ad-icon6 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 38px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}