
.icon-call {
  background-image: url(../../img/sprite.png);
  background-position: 0px -1072px;
  width: 36px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}
.icon-toll {
  background-image: url(../../img/sprite.png);
  background-position: -536px -1072px;
  width: 35px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}
