
.icon-call {
  background-image: url(../../img/sprite.png);
  background-position: 0px -1072px;
  width: 36px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}
.icon-toll {
  background-image: url(../../img/sprite.png);
  background-position: -536px -1072px;
  width: 35px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}


.social-top{
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
  a {
    width: 39px;
    height: 40px;
    padding: 3px 6px 5px;
  }
  .a-pinterest{
    background-color: $redBtnColor;
  }
  .a-twitter{
    background-color: $twitterClr;
  }
  .a-fb{
    background-color: $fbClr;
  }
}
