.tel{
  background-color: $bgColorPrimary;
  .fa {
    color: $fontColorNone;
  }
}

.clr-fill{
  background-color: $boxColor;
}

.order-now{
  background: url("../../img/img-boy.png") no-repeat, url("../../img/img-books-lamp.png") no-repeat, url("../../img/light.png") no-repeat;
  background-position: left bottom, right bottom,68% 150px;
}

.btn-chat{
  padding-top: 68px;
}

.chat{
  @include Button(16px,$bgColorPrimary,$fontColorNone,400,$fontSemiBold);
  border: 1px solid #ffffff;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 0 10px;
  border-radius: 3px;
}

.red-btn-pos{
  padding-top: 46px;
  padding-bottom: 40px;
  padding-left: 70px;
}

.red-btn{
  @extend .chat;
  @include Button(16px,$redBtnColor,$fontColorNone,700, $fontSemiBold);
  width: 269px;
  height: 69px;
  border-radius: 3px;
}

.special{
  background-color: $bgColorPrimary;
  border: solid 1px #27c74e;
  span{
    @include font(18px, $fontColorNone, 400, $fontRegular);
    .boldify{
      font-family: $fontBold;
    }
  }
}
.btn-disc{
  @include Button(16px, $bgColorPrimary, $fontColorNone, 300, $fontLight);
  border-radius: 3px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.disc-t{
  padding-top: 21px;
  padding-bottom: 21px;
}