<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 advan-hdr">
                <h2>Our Advantages</h2>
            </div>
        </div>
        <div class="row ad-btns">
            <div class="btn-frst col-lg-4">
                <i class="icon icon-ad-icon"></i>
                <span>Any academic level</span>
            </div>
            <div class="btn-scnd col-lg-4">
                <i class="icon icon-ad-icon2"></i>
                <span>Over 300 words per page</span>
            </div>
            <div class="btn-thrd col-lg-4">
                <i class="icon icon-ad-icon3"></i>
                <span>Free plagiarism report</span>
            </div>
        </div>
        <div class="row ad-btns">
            <div class="btn-frst col-lg-4">

                <span>Any academic level</span>
            </div>
            <div class="btn-scnd col-lg-4">

                <span>Over 300 words per page</span>
            </div>
            <div class="btn-thrd col-lg-4">

                <span>Free plagiarism report</span>
            </div>
        </div>
    </div>
</div>