<div class="container-fluid clr-fill">
    <div class="container">
        <div class="row">
            <div class="h-i-w-sp">
                <span>
                    How it works
                </span>
            </div>
                <div class="top-hiw row">
                    <div class="col-lg-4">
                    <div class="elem-1"></div>
                    </div>
                    <div class="col-lg-5">
                    <div class="elem-2"></div>
                    </div>
                    <div class="col-lg-3">
                    <div class="elem-3"></div>
                    </div>
                </div>
                <div class="bottom-hiw row">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-5">
                    <div class="elem-4"></div>
                    </div>
                    <div class="col-lg-5">
                    <div class="elem-5"></div>
                    </div>
                </div>
        </div>
    </div>
</div>