
<nav class="navbar">
    <div class="container-fluid">
        <div class="container">
            <div class="logo col-lg-3">
                <a href="/"><img src="../img/Logo.png" height="81" width="241"/></a>
            </div>
            <div class="nav col-lg-9">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">SERVICE & SPriCES</a></li>
                    <li><a href="">HOw it works</a></li>
                    <li><a href="">Discounts</a></li>
                    <li><a href="">Order Now</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Tesimonials</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Samples</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid clr-fill">
        <div class="container order-now">
            <div class="row">
                <div class="btn-chat col-lg-2">
                    <button class="chat">
                        <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i>
                        &#62; Live Chat
                    </button>
                </div>
                <div class="big-ltrs col-lg-10">
                    <span>Custom Writing service</span>
                </div>
            </div>
        <div class="succes">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-5 set-key-t-s"><span class="">the key to success</span></div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-5 place"><span class="">You are at right place!</span></div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-4 q-w-service"><span>EssayService.com is a top quality writing service</span></div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-8  red-btn-pos"><button class="red-btn">Order now</button></div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid special">
        <div class="container">
            <div class="row disc-t">
                <div class="col-lg-6 ">
                <span>Special Offer: <span class="boldify">Get limited discounts</span> on the first order</span>
                </div>
            <div class="col-lg-6">
                <button class="btn-disc">The list of discounts</button>
            </div>
            </div>
        </div>
    </div>
</nav>