<main>
    <div class="container-fluid tel">
        <div class="container">
                <div class="tel-one">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>Toll for free: <a href="tel:+1-(044)-147-0235">+1-(044)-147-0235</a></span>
                </div>
                <div class="tel-two">
                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                    <span>Call now: <a href="tel:+1-(044)-147-0336">+1-(044)-147-0336</a></span>
                </div>
                <div class="social-top">
                    <span>Join us:</span>
                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
            </div>
    </div>
</main>

<nav class="navbar">
    <div class="container-fluid">
        <div class="container">
            <div class="logo">
                <a href="/"><img src="../img/Logo.png" height="81" width="241"/></a>
            </div>
            <div class="nav">
                <ul>
                    <li><a href=""></a>Home</li>
                    <li><a href=""></a>ABOUT</li>
                    <li><a href=""></a>SERVICE & SPriCES</li>
                    <li><a href=""></a>HOw it works</li>
                    <li><a href=""></a>Discounts</li>
                    <li><a href=""></a>Order Now</li>
                    <li><a href=""></a>FAQ</li>
                    <li><a href=""></a>Tesimonials</li>
                    <li><a href=""></a>Blog</li>
                    <li><a href=""></a>Samples</li>
                    <li><a href=""></a>Login</li>
                </ul>
            </div>
            <div class="order-now">
                <button>
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                    <span>Live Chat</span>
                </button>
                <h1>Custom Writing service</h1>
                <h2>the key to success</h2>
                <h3>You are at right place!</h3>
                <span>EssayService.com is a top quality writing service</span>
                <button>Order now</button>
            </div>
            <div class="special">
                <p><span>Special Offer: <span class="boldify">Get limited discounts</span> on the first order</span></p>
                <button>The list of discounts</button>
            </div>
        </div>
    </div>
</nav>