@mixin Button($fontSize:18px, $backgroundColor:$redBtnColor, $color:$bgColorSecondary, $font-weight:700, $font-family:$fontRegular){
  font-size: $fontSize;
  font-weight: $font-weight;
  font-family: $font-family;
  background-color: $backgroundColor;
  color: $color;
}
