$bgColorPrimary: #14a85c;
$bgColorSecondary: #ffffff;
$mainFontColor: #003300;
$secondaryFontColor: #777777;
$fontColorNone: #ffffff;
$redBtnColor: #e84c3d;
$boxColor: #86ea8f;
$twitterClr: #28c3ff;
$fbClr: #496194;